{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
    <!-- Bootstrap CSS'yi ekleyin veya kendi stil dosyalarınızı -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<section class="contact_section layout_padding">
    <div class="container">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{message.tags}}">{{message}}</div>
      {% endfor %} {% endif %}
      {% if form.errors %}
        <div class="alert alert-danger">
            {{form.errors}}
        </div>
        {% endif %}

        {% if msg == 'Please confirm your email address to complete' %}
        <div class="row" style="margin-left:15%;margin-right:9%;">
            <div class="col-md-10 px-5">
            	<div class="form_container" align="center">
            		<img style="width:300px;height:300px" src="{% static 'images/time-left.png' %}"><br>  
            		<div class="detail-box">
                    	<h2 style="color:white">
                    	{{msg}}
                    	</h2>
            		</div>
        		</div>
			</div>
		</div>
        {% endif %}
        {% if msg == 'Thank you for your email confirmation. Now you can login!' %}
        <div class="row" style="margin-left:15%;margin-right:9%;">
            <div class="col-md-10 px-5">
            	<div class="form_container" align="center">
           			<img style="width:300px;height:300px"  src="{% static 'images/verified.png' %}">  
            		<div class="detail-box">
                    	<h2 style="color:white">
                    	{{msg}}
                    	</h2>
						<br>
						<h4 style="color:white">5 saniye içerisinde yönlendirileceksiniz.</h4>
            		</div>
        		</div>
			</div>
		</div>
		<script>
        // Sayfa yüklendikten sonra 5 saniye bekleyip login sayfasına yönlendir
        setTimeout(function(){
            window.location.href = "{% url 'login' %}";
        }, 5000); // 5000 milisaniye = 5 saniye
    	</script>
        {% endif %}
        {% if msg == 'Activation link is invalid!' %}
        <div class="row" style="margin-left:15%;margin-right:9%;">
            <div class="col-md-10 px-5">
            	<div class="form_container" align="center">
           			<img style="width:300px;height:300px"  src="{% static 'images/cancel.png' %}">  
            		<div class="detail-box">
                    	<h2 style="color:white">
                    	{{msg}}
                    	</h2>
            		</div>
        		</div>
			</div>
		</div>
		{% endif %}
    </div>
  </section>
{% endblock %}
